div
  div
    img(src=logoUrl alt="Logo" width="150px")
  div
    h2
      !=orgName
    h4
      !=orgAddress
div
  h3 Žiadosť o reset hesla
  p Vy alebo niekto vo vašom mene požiadal o reset vášho hesla pre účet #{username}. 
  p Pokiaľ si heslo želáte zmeniť, kliknite na nasledujúcu linku
    a(href=link) 
      =link
  p Ak si heslo neželáte zmeniť, ignorujte tento email.